*{
   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: #8983e9;
}
.navbar {
    background-color: #333; /* لون الخلفية الأزرق الغامق */
    color: #fff; /* لون النص الأبيض */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    cursor: pointer;
    
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a:hover {
    color: red;
}
.profile {
    text-align: center;
    margin-top: 50px;
}

.profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile h1 {
    margin-top: 20px;
    color: #333; /* لون النص الأزرق الغامق */
}

.work-section {
    padding: 50px;
    text-align: center;
}

.work-section img {
    max-width: 400px;
    height: auto;
    margin-bottom: 20px;
}

.work-section a {
    text-decoration: none;
    color: #333;
}
.text{    
    width: 80%;
    margin: 0 auto;
}
.text h2{
    margin-top: 20px;
    margin-bottom: -30px;
    text-align: center;
    font-weight: bolder;
    background-color: #cfc1c1;
    border-radius: 5px;
    color: #3d31df;
}
.skills-section {
    padding: 50px;
    text-align: center;
}


.skills-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    color: #333;
    font-weight: bold;
   
}
/* .skills-list .row .skill{
    margin:10px auto;
   
} */
.row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card-body .card-title{
    float: left;
}
.card .card-body .card-text{
    float: left;
}
footer {
    background-color: #979191;
    color: #3d31df;
    padding: 20px;
    text-align: center;
    font-size: 18px;
}

footer a  {
    text-decoration: none;
}
footer a span  {
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.a {
    color: black;
    font-size: 28px;
    font-weight: bolder;
}

#about{
    background-color: #ffffffc0;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
}

.txt p{
    text-align: center;
    color: #484848;
    height: 100%;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    letter-spacing: 1px;
    line-height: 1.7;
}
.txt span{
    color: #3d31df;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
